
body
{
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

h1
{
	font-family: "Proxima Nova", Montserrat, sans-serif;
	font-size: 2em;
	font-weight: 100;
	color: #005DAA; /* offical UK Kentucky blue */
}

path
{
	stroke: #fff;
	stroke-width: .5px;
}

path:hover
{
	opacity: 0.5;
  stroke: red;
  stroke-width: 2px;
}
